#productsDivs {
  width: 300px;
  height: 390px;
  margin: 30px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  -moz-box-shadow: 3px 3px 3px rgb(104, 104, 104);
  -webkit-box-shadow: 3px 3px 3px rgb(104, 104, 104);
  box-shadow: 3px 3px 3px rgb(104, 104, 104);
}
#updateDiv {
  width: 400px;
  height: 380px;
  padding-left: 30px;
}
#productsDivs:hover {
  transform: scale(1.02);
}
#wholeProductDiv {
  display: flex;  margin-left: auto;
  margin-right: auto;
  /* padding: 30px 70px 70px 70px; */
  flex-wrap: wrap;
}
#productsPage {
  background-color: #f2d7e2;
}
#productImages {
  align-items: center;
  padding-top: 20px;
}
#productsDivs h1 {
  font-size: 14px;
  padding-top: 20px;
  padding-left: 10px;
  vertical-align: middle;
}
#productsDivs h2 {
  font-size: 14px;
  padding: 5px;
  text-transform: capitalize;
}
#productsDivs h3 {
  font-size: 14px;
  padding: 5px;
  text-transform: capitalize;
  color: rgb(211, 88, 190);
}
.none {
  display: none;
}

.flex {
  display: flex;
}

#xButton {
  border: none;
  background-color: white;
  margin-left: 94%;
  margin-top: 10px;
  display: flex;
  font-weight: 600;
  cursor: pointer;
}

button {
  cursor: pointer;
}
#updateBoxDiv p {
  font-size: 16px;
  padding-top: 30px;
}
#createBoxDiv p {
  font-size: 16px;
  padding-top: 30px;
}
#updateBoxDiv input {
  margin-top: 20px;
  width: 220px;
  position: absolute;
  left: 150px;
  height: 20px;
}
#createBoxDiv input {
  margin-top: 20px;
  width: 220px;
  position: absolute;
  left: 150px;
  height: 20px;
}
.search-form {
  margin-left: 10vw;
  padding-top: 40px;
  padding-bottom: 20px;
}
#createDiv {
  width: 400px;
  height: 380px;
  padding-left: 30px;
}
#loading {
  color: white;
  font-weight: 600;
  padding-top: 60px;
  font-size: 25px;
  padding-left: 150px;
}
.createButtonSearch {
  display: flex;
  justify-content: space-between;
  width: 85vw;
}
