#articleAvatarDiv p {
  padding-left: 30px;
  margin-left: 30px;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 50px;
}
#articleImage {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#blogPic {
  position: absolute;
  top: 292px;
}
#articleParagraph {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  margin: 50px 22%;
  display: inline-block;
  color: #25313c;
}
#writtenByDiv {
  display: flex;
  margin-left: 22%;
}
#writtenBy {
  font-weight: 500;
  color: #1e2742;
  font-size: 12px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-top: 15px;
}
#writtenByName {
  font-weight: 500;
  color: #25313c;
  font-size: 18px;
  padding-bottom: 5px;
  padding-left: 15px;
}
#personTitle {
  font-weight: 500;
  color: #989898;
  font-size: 12px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-bottom: 80px;
}
#commentDiv {
  border-top: 1px solid rgba(109, 125, 139, 0.22);
  width: 52vw;
  height: 500px;
  margin-left: 22%;
}
#joinConvo {
  color: #6d7d8b;
  font-size: 22px;
  padding-top: 40px;
  padding-bottom: 15px;
}


@media (max-width: 850px) {
  #articleTitle {
    font-size: 26px;
  }
}

@media (max-width: 850px) {
  #articleTitle {
    font-size: 22px;
    padding: 100px 0px 20px 12%;
  }
  #articleParagraph {
    margin: 50px 12%;
  }
  #articleAvatarDiv {
    display: none;
  }
}
