#firstPage {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0) 76.04%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(https://images.unsplash.com/photo-1601933513556-7926c45d1c49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#navBar {
  display: flex;
  font-size: 14px;
  color: white;
  align-items: center;
}
#navBar1 {
  display: flex;
  font-size: 14px;
  color: #6d7d8b;
  align-items: center;
}
#navBarRight {
  margin-left: 54%;
  font-weight: 600;
  justify-content: space-between;
  display: flex;
  padding-top: 30px;
  width: 20vw;
}
#navBarRight1 {
  margin-left: 54%;
  font-weight: 600;
  justify-content: space-between;
  display: flex;
  padding-top: 30px;
  width: 20vw;
}
#navBarRight #getAccessButton {
  background-color: rgb(243, 243, 243, 0);
  color: rgb(173, 173, 173);
  margin-top: -12px;
  padding: 12px;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid rgb(173, 173, 173);
}
#firstPageLeftSpace {
  padding-left: 10%;
}
#postsDivs {
  height: 90%;
  margin: 30px;
  width: 20vw;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  -moz-box-shadow: 3px 3px 3px rgb(104, 104, 104);
  -webkit-box-shadow: 3px 3px 3px rgb(104, 104, 104);
  box-shadow: 3px 3px 3px rgb(104, 104, 104);
}
#five {
  display: flex;
  overflow-y: scroll;
  margin: 80px 0px;
}
.seeMoreButton {
  float: right;
}
#five div {
  margin-right: 20px;
  padding-left: 3px;
}
#textDiv {
  width: 90%;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;

  min-width: 0;
  padding-bottom: 20px;
}
#collab {
  padding-top: 20vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 56px;
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: -1.2px;
  color: #ffffff;
}
#allInOne {
  font-size: 15px;
  color: #ffffff;
  width: 323.85px;
  height: 58px;
  letter-spacing: 0.5px;
  line-height: 22px;
  margin-top: 24px;
}
#inputAndButtonDiv {
  display: inline-flex;
}
#inputs {
  border: 2px solid #bbc8d4;
  border-radius: 4px;
  margin-top: 55px;
}
#buttons {
  margin-left: 10px;
  padding: 0px;
  height: 46px;
  margin-top: 55px;
  color: #ffffff;
  background-color: rgba(11, 190, 242, 1);
  border-radius: 4px;
  border: 0.5px solid rgb(95, 95, 95);
  font-size: 14px;
  font-weight: 600;
  width: 150px;
}
#secondPage {
  background-color: white;
  height: 100vh;
  display: flex;
}
.header {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 398px;
  height: 120px;
  padding-top: 30%;
}
.paragraph {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 29px;
  display: flex;
  align-items: center;
  width: 435px;
  color: #182d40;
  height: 145px;
  margin-top: 3px;
}
.learnMore {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  margin-top: 18px;
  color: #4da0fd;
  cursor: pointer;
}
#page2Paragraph {
  padding-left: 10%;
}
#thirdPage {
  background-color: white;
  height: 100vh;
  justify-content: space-between;
  display: flex;
}
#img3 {
  width: 40vw;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  height: 60vh;
  padding-top: 20vh;
  padding-left: 25px;
}
#fourthPage {
  background-color: white;
  height: 100vh;
  display: flex;
}
#img4 {
  width: 51vw;
  height: 70vh;
  position: absolute;
  z-index: 0;
  margin-left: 17vw;
  padding-top: 17.5vh;
}
#lastHeader {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  font-size: 38px;
  justify-content: center;
  line-height: 60px;
  display: flex;
  /* align-items: center; */
  text-align: center;
  padding-top: 90px;
  color: #000000;
}
#fifthPage {
  background-color: white;
  height: 100vh;
  /* display: flex; */
}
#simpleTask {
  padding-right: 15%;
  padding-top: 40px;
}
#footer {
  height: 50vh;
  width: 100vw;
  background-color: rgba(37, 43, 59, 1);
}
.columns {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  padding-top: 35px;
  padding-bottom: 25px;
  padding-left: 10%;
  color: #ffffff;
}
#logo2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 25px;
  color: #ffffff;
}
#allColumns {
  display: flex;
}
.firstP {
  padding-bottom: 25px;
}
#subscribe {
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  padding-right: 6vw;
  padding-left: 6vw;
  color: white;
  padding-top: 35px;
}
#footerInput {
  width: 200px;
  background-color: white;
  border-radius: 0px;
  font-size: 12px;
  margin-left: 85px;
  margin-top: 15px;
}

.reviews {
  padding-left: 35px;
  padding-right: 35px;
}
.stars {
  margin-top: 23px;
  margin-bottom: 13px;
  letter-spacing: 1px;
}
.reviewNames {
  font-weight: 600;
  padding-top: 60px;
  padding-left: 15px;
}
.navItems {
  cursor: pointer;
}
.starsDiv {
  padding-left: 32px;
  letter-spacing: -4px;
}
.reviewImg {
  border-radius: 40px;
  height: 40px;
  margin-top: 60px;
  margin-left: 32px;
  width: 40px;
}
.reviewPersons {
  display: flex;
  align-items: center;
  width: 300px;
}
#teamIcon {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  align-items: center;
  height: 50px;
  text-align: center;
  color: #ffffff;
  padding-left: 10%;
  cursor: pointer;
  padding-top: 55px;
}
#teamIcon2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  padding-top: 5px;
}
#twobox {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -60%;
}
#meetingIcon {
  position: absolute;
  right: 0;
  width: 40%;
}
#calendarIcon {
  /* position: absolute; */
  z-index: 0;
  padding-top: 160px;
  /* padding-left: 350px; */
}
#eventIcon {
  /* position: absolute; */
  z-index: 1;
  padding: 0px;
  margin: 0px;
  position: absolute;
  left: 0;
  background-color: white;
  /* padding-top: 160px; */
}
#page2 {
  position: absolute;
  z-index: 0;
}
#calendar3 {
  z-index: 1;
  position: absolute;
  padding-top: 150px;
  padding-left: 280px;
}
#iconPositions {
  position: absolute;
  top: 100px;

  border-radius: 10px;
  padding: 0px;
}
#schedulingWorks {
  padding-left: 6%;
  width: 25%;
}
#thirdpageImgDiv {
  left: 0;
}
@media (max-width: 950px) {
  .columns {
    padding-left: 5%;
    font-size: 12px;
  }
  #allColumns {
    display: flex;
    flex-wrap: wrap;
  }
  #navBarRight {
    margin-left: 38%;
    width: 30vw;
  }
  #postsDivs {
    width: 35vw;
  }
  #navBarRight1 {
    margin-left: 38%;
    width: 30vw;
  }
  .paragraph {
    font-size: 13px;
  }
  #img4 {
    height: 30vh;
    margin-left: 1vw;
    width: 42vw;
  }
  #twobox {
    top: -40%;
  }
  #img3 {
    height: 28vh;
  }
  #calendar3 {
    padding-left: 0px;
  }
  #simpleTask {
    padding-right: 0px;
  }
  #navBar1 button {
    top: 20vh;
  }
}

@media (max-width: 600px) {
  #allColumns {
    display: flex;
    flex-wrap: wrap;
  }
  #calendar3 {
    display: none;
  }
  #img4 {
    display: none;
  }
  .columns {
    padding-left: 2%;
    font-size: 10px;
  }
  #fourthPage {
    justify-content: center;
  }
  #footer {
    height: 500px;
  }
  #navBarRight {
    margin-left: 6%;
    width: 62%;
  }
  #navBarRight1 {
    margin-left: 6%;
    width: 62%;
  }
  .header {
    font-size: 24px;
    width: 200px;
  }
  #twobox {
    display: none;
  }
  .paragraph {
    font-size: 10px;
    width: 200px;
  }
  #postsDivs {
    width: 66vw;
  }
}
