* {
  margin: 0;
  padding: 0;
}
#userDivs {
  width: 320px;
  height: 380px;
  font-weight: 600;
  border-radius: 5px;
  margin: 30px;
  cursor: pointer;
  background-color: white;
  -moz-box-shadow: 3px 3px 3px rgb(104, 104, 104);
  -webkit-box-shadow: 3px 3px 3px rgb(104, 104, 104);
  box-shadow: 3px 3px 3px rgb(104, 104, 104);
}
#userName {
  text-align: center;
}
#userImages {
  align-items: center;
  width: 160px;
  border-radius: 100px;
  margin: 0 auto;

  height: 160px;
  align-items: center;
  display: flex;
}
.search-form {
  margin-left: 3vw;
  margin-top: 50px;
}

#wholeUserDiv {
  display: flex;
  margin-left: auto;
  justify-content: center;
  margin-right: auto;
  flex-wrap: wrap;
}
#imgDiv {
  padding-top: 60px;
  padding-bottom: 40px;
}
#userDivs:hover {
  transform: scale(1.02);
}
.usersButton button {
  margin-left: 100px;

  align-items: center;
}
#updateDiv {
  height: 280px;

  padding-bottom: 0px;
}
.flex {
  align-items: center;
  vertical-align: middle;
  display: flex;
}

#createDiv {
  height: 440px;
}

#createDiv1 {
  height: 400px;
}
#createButtonSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78vw;
}
