#signUpDiv {
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 60px; */
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  align-items: center;
  vertical-align: middle;
  border-radius: 15px;
  height: 570px;
  background-color: white;
}
.background {
  background-color: #384f80;
  width: 100vw;
  height: 100vh;
}
.title1 {
  text-align: center;
  font-size: 24px;
  padding: 50px 0px 0px 0px;
}
#yesAcc {
  display: flex;
  margin-top: 15px;
  font-size: 14px;
  margin-left: 60px;
}
#signInButton {
  margin: 0 auto;
  border: none;
  font-size: 14px;
  width: 59px;
  margin-top: 0px;
  margin-right: 151px;
  background-color: white;
  cursor: pointer;
  height: 15px;
  color: #384f80;
  font-weight: 600;
}

@media (max-width: 850px) {
  #signUpDiv {
    width: 48%;
  }
}
@media (max-width: 600px) {
  #signUpDiv {
    width: 75%;
  }
  .title1 {
    font-size: 18px;
  }
  #yesAcc {
    margin-left: 30px;
  }
  #signInButton {
    margin-right: 30px;
  }
}
