* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(98, 74, 236);
}
#signInDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 30vw;
  border-radius: 15px;
  height: 420px;
  background-color: white;
}
#signUpDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 30vw;
  border-radius: 15px;
  height: 600px;
  background-color: white;
}

.title {
  text-align: center;
  font-size: 24px;
  padding: 80px 0px 0px 0px;
}
.title1 {
  text-align: center;
  font-size: 24px;
  padding: 50px 0px 0px 0px;
}
input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  border-right: none;
  width: 300px;
  border-top: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-left: none;
  height: 22px;
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 0.9);
  border-bottom: 0.8px solid rgb(255, 255, 255);
}
input:focus {
  outline: none !important;
}

#button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px;
  width: 320px;
  background-color: rgb(91, 66, 233);
  height: 45px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
}
.errors {
  font-size: 11px;
  color: red;
  margin: 0.2vw 0vw 0.2vw 4vw;
}
#noAcc {
  display: flex;
  margin-top: 15px;
  font-size: 14px;
  margin-left: 60px;
}
#yesAcc {
  display: flex;
  margin-top: 15px;
  font-size: 14px;
  margin-left: 60px;
}
#button:hover {
  background-color: rgb(71, 42, 231);
}
#createAccButton {
  margin: 0 auto;
  border: none;
  font-size: 14px;
  margin-top: -14px;
  margin-right: 91px;
  background-color: white;
  height: 15px;
  color: rgb(71, 42, 231);
  font-weight: 600;
}
#createAccButton:hover {
  color: rgb(116, 98, 219);
}
#signInButton {
  margin: 0 auto;
  border: none;
  font-size: 14px;
  width: 59px;
  margin-top: 0px;
  margin-right: 151px;
  background-color: white;
  height: 15px;
  color: rgb(71, 42, 231);
  font-weight: 600;
}
#successBox {
  text-align: center;
  height: 30vh;
  width: 40vw;
  margin: "0 auto";
  border: 1px solid black;
  margin-top: 180px;
  padding-top: 80px;
  font-size: 24px;
  font-family: arial;
  background-color: white;
  border: none;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}
#goToSignInButton{
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  background-color: rgb(91, 66, 233);
  height: 45px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
}