* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  border-right: none;
  width: 300px;
  border-top: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-left: none;
  height: 22px;
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 0.9);
  border-bottom: 0.8px solid rgb(255, 255, 255);
}
input:focus {
  outline: none !important;
}

#button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px;
  width: 320px;
  background-color: rgb(91, 66, 233);
  height: 45px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
}
.errors {
  font-size: 11px;
  color: red;
  margin: 0.2vw 0vw 0.2vw 4vw;
}
#button:hover {
  background-color: rgb(71, 42, 231);
}
