#signInDiv {
  width: 25%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 15px;
  height: 380px;
  background-color: white;
}
.background {
  height: 100vh;
  margin-top: 0px;
  width: 100vw;
  background-color: rgb(98, 74, 236);
}

.title {
  text-align: center;
  font-size: 24px;
  padding: 80px 0px 0px 0px;
}
#noAcc {
  display: flex;
  margin-top: 15px;
  font-size: 14px;
  margin-left: 40px;
}
#createAccButton {
  margin: 0 auto;
  border: none;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 40px;
  background-color: white;
  height: 15px;
  color: rgb(71, 42, 231);
  cursor: pointer;
  font-weight: 600;
}
#createAccButton:hover {
  color: rgb(116, 98, 219);
}
input {
  width: 70%;
}
@media (max-width: 850px) {
  #signInDiv {
    width: 48%;
  }
}
@media (max-width: 600px) {
  #signInDiv {
    width: 70%;
  }
  .title {
    font-size: 18px;
  }
}
